<div class="container" id="editBook">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h1 class="display-4">{{book.title}}</h1>
                <p class="lead">{{book.body}}</p>
            </div>
            <div class="col-2">
                {{#if loggedIn}}
                    <i class="fas fa-cog float-right" data-toggle="modal" data-target="#updateBookModal"></i>
                {{/if}}
            </div>
        </div>
        <div class="btn-group dropright float-right mb-2">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Contributors
            </button>
            <div class="dropdown-menu">
                <!-- Dropdown that shows contributors (hard coded for now until ajax call)-->
                <ul id="contList">
                    <!-- contributors will appear here ! -->
                </ul>
            </div>
        </div>
        <hr class="my-4" style="clear: both">
        <!-- the posts -->
        <div id="bookContent">
            {{#each posts}}
            <span id="line-{{this.id}}" class="post-line" data-id="{{this.id}}">{{this.body}}</span>
            {{/each}}
        </div>
        {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
        {{#if loggedIn}}
        <p class="pt-5">
            <a class="btn btn-blue" data-toggle="collapse" href="#multiCollapseAddLine" role="button" aria-expanded="false"
                aria-controls="multiCollapseAddLine">Add a Line</a>
            <button id="editPosts" class="btn btn-blue" type="button" data-toggle="collapse" data-target="#multiCollapseUpdatePost"
                aria-expanded="false" aria-controls="multiCollapseUpdatePost">Edit a Line</button>
        </p>

        <div class="row">
            <div class="col-sm-12">
                <div class="collapse multi-collapse" id="multiCollapseAddLine">
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" id="line" class="form-control" placeholder="Add your line" aria-label="Add your line"
                                aria-describedby="addLine" name="line">
                            <input type="text" id="user-Id" name="userId" hidden value="{{user.id}}">
                            <input type="text" id="book-Id" name="bookID" hidden value="{{book.id}}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary rounded-right" type="button" id="addLine">Submit</button>
                            </div>
                        </div>
                    </form>
                    <p id="charNum"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="collapse multi-collapse" id="multiCollapseUpdatePost">
                    <form>
                        <h2>Update Line</h2>
                        <p>Click on the line you want to edit...</p>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" id="updateLine" placeholder="Line">
                            <input class="form-control" type="text" id="updateLineId" hidden>
                            <div class="input-group-append">
                                <button class="btn btn-blue rounded-right" type="button" id="updatePost">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{else}}
        <p>
            <button class="btn btn-primary action-button grow" id="add-line-btn" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Want to Contribute?
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <a href="#" class="login btn btn-transparent action-button grow float-left mr-2" style="margin-left: -10px;" data-toggle="modal"
                data-target="#loginModalCenter" role="button">Log In</a>
            or
            <a class="btn btn-transparent action-button grow ml-2" role="button" href="/login">Sign Up</a>
        </div>

        {{/if}}
    </div>
</div>
<!-- update book modal -->
<div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="updateBookModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="bookTitle">Book Title</label>
                    <input class="form-control" type="text" id="bookTitle" placeholder="Book Title" value="{{book.title}}">
                </div>
                <div class="form-group">
                    <label for="bookCover">Book Cover</label>
                    <input class="form-control" type="text" id="bookImageUrl" placeholder="Image Url" value="{{book.imageUrl}}">
                </div>    
                <input class="form-control" type="text" id="bookDescription" value="{{book.body}}" hidden>
                <input class="form-control" type="text" id="bookTextLimit" value="{{book.text_limit}}" hidden>
                <input class="form-control" type="text" id="bookGenre" value="{{book.genre}}" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-blue" id="updateBook">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- update post/line modal -->
{{> book-scripts}}