<div class="container">
    <div class="jumbotron bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <i class="fas fa-cog float-right" data-toggle="modal" data-target="#updateUserModal"></i>
                </div>
            </div>
            <div class=" row">
                <div class="col-sm-4">
                    <img src="{{user.photo}}" class="circle-image mr-3 w-100"
                        alt="{{user.firstname}} {{user.lastname}}">
                </div>
                <div class="col-sm-8" style="word-wrap: break-word">
                    <h1>{{user.firstname}} {{user.lastname}}</h1>
                    <h6> {{user.username}}</h6>
                    <h3>About:</h3>
                    <p>{{user.about}}</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-12">
                    {{#if books}}
                        <button class="btn btn-blue" type="button" data-toggle="collapse" data-target="#collapseBooks" aria-expanded="false"
                            aria-controls="collapseBooks">
                            View All Books
                        </button>
                    {{/if}}
                    {{#if authoredBooks}}
                    <button class="btn btn-blue" type="button" data-toggle="collapse" data-target="#collapseAuthor"
                        aria-expanded="false" aria-controls="collapseAuthor">
                        Your Books
                    </button>
                    {{/if}}
                </div>
            </div>
            {{#if books}}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="collapse" id="collapseBooks">
                        <hr />
                        <h5>Books You've Contributed To</h5>
                        <div class="row">
                            {{#eachUnique books}}
                            <div class="col-md-3 mb-3 text-white">
                                <div class="card book grow text-white"
                                    style="background-image: url('{{this.Book.imageUrl}}');">
                                    <a href="/book/{{this.Book.id}}">
                                        <div class="card-img-overlay">
                                            <h4>{{this.Book.title}}</h4>
                                        </div>
                                    </a>
                                </div>
                                <button class="delete-btn btn text-blue" data-id="{{this.Book.id}}"><i class="fas fa-trash-alt"></i></button>
                            </div>
                            {{/eachUnique}}
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if authoredBooks}}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="collapse" id="collapseAuthor">
                        <hr />
                        <h5>Books You've Started</h5>
                            <div class="row">                               
                            {{#each authoredBooks}}
                            <div class="col-md-3 mb-3 text-white">
                                <div class="card book grow text-white" style="background-image: url('{{this.imageUrl}}');">
                                    <a href="/book/{{this.id}}">
                                        <div class="card-img-overlay">
                                            <h4>{{this.title}}</h4>
                                        </div>
                                    </a>
                                </div>
                                <button class="delete-btn btn text-blue" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    {{!-- modal --}}
    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="profilePic">Profile Picture</label>
                        <input class="form-control" type="text" id="profilePic" placeholder="Profile Picture"
                            value="{{user.photo}}">
                    </div>
                    <div class="form-group">
                        <label for="aboutInput">About</label>
                        <input class="form-control" type="text" id="aboutInput" placeholder="About"
                            value="{{user.about}}">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" placeholder="Username"
                            value="{{user.username}}" maxlength="20">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-blue" id="modalSubmit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {{> dashboard-scripts}}