{{> header}}
<div class="text-center">
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <h3>This is your ID: {{id}}</h3>
    <h3>This is your ID: {{user.id}}</h3>
    <h3>This is your name: {{user.lastname}}, {{user.firstname}}</h3>
    <h3>This is your email: {{user.email}}</h3>
</div>
{{> footer}}