<div class="container" id="dashboard">
    <div>
        <div class="container">
            {{!-- <div class="row">
                <div class="col-sm-12">

                </div>
            </div> --}}
            <div class="mt-3">
                <div class="d-flex justify-content-end">
                    <span data-toggle="tooltip" data-placement="top" title="Settings"><i class="fas fa-cog rotate"
                            data-toggle="modal" data-target="#updateUserModal"></i></span>
                </div>
                <div class=" row">
                    <div class="col-sm-4 d-flex justify-content-center mb-4">
                        <img src="{{user.photo}}" class="circle-image w-75 h-100 align-self-center"
                            alt="{{user.firstname}} {{user.lastname}}">
                    </div>
                    <div class="col-sm-8" style="word-wrap: break-word">
                        <h1 class="mb-4">{{user.firstname}} {{user.lastname}}</h1>
                        <div class="d-inline-flex mb-4"><i class="fas fa-user p-1 pr-2" style="margin-top: 3px"></i>
                            <h4>{{user.username}}</h4>
                        </div>
                        <p>{{user.about}}</p>
                    </div>
                </div>
            </div>

            <hr>
            <div class="d-flex justify-content-center">
                <div class="d-inline-flex justify-content-around mx-auto">
                    <div class="p-2 selected pro-tab" id="allBooks">View All Books</div>
                    <div class="p-2">|</div>
                    <div class="p-2 pro-tab" id="yourBooks">Books Written</div>
                </div>
            </div>
            <hr>

            <div id="profileBooks" class="text-center">
                <div class="row" id="allBookDisplay">
                    {{!-- if there are no books, display this message --}}
                    {{#unless books}}
                    <h3 class="text-secondary">No books contributed to</h3>
                    {{/unless}}

                    {{!-- if there are books, display each one --}}
                    {{#if books}}
                    {{#eachUnique books}}
                    {{#if this.Book.id}}
                    <div class="col-md-3 mb-3 text-white">
                        <div class="book-box w-100 rounded border-secondary border">
                            <div class="card book text-white rounded-0 border-0"
                                style="background-image: url('{{this.Book.imageUrl}}');">
                                <a href="/book/{{this.Book.id}}">
                                    <div class="card-img-overlay">
                                        <h4 class="book-title">{{this.Book.title}}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{#ifEquals User.id this.Book.author}}
                        <span data-toggle="tooltip" data-placement="bottom" title="Delete Book"><button
                                class="delete-btn btn text-blue" data-id="{{this.Book.id}}"><i
                                    class="fas fa-trash-alt"></i></button></span>
                        {{/ifEquals}}
                    </div>
                    {{/if}}
                    {{/eachUnique}}
                    {{/if}}
                </div>
                <div class="row" id="yourBookDisplay" style="display: none">
                    {{#unless authoredBooks}}
                    <h3 class="text-secondary">No books written yet</h3>
                    {{/unless}}
                    {{#if authoredBooks}}
                    {{#each authoredBooks}}
                    {{#if this.id}}
                    <div class="col-md-3 mb-3 text-white">
                        <div class="book-box w-100 rounded border-secondary border">
                            <div class="card book text-white rounded-0 border-0"
                                style="background-image: url('{{this.imageUrl}}');">
                                <a href="/book/{{this.id}}">
                                    <div class="card-img-overlay">
                                        <h4>{{this.title}}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button data-toggle="tooltip" data-placement="bottom" title="Delete Book"
                            class="delete-btn btn text-blue" data-id="{{this.id}}"><i
                                class="fas fa-trash-alt grow"></i></button>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{/if}}
                </div>
            </div>

            {{!-- <div class="row text-center">
                <div class="col-sm-12">
                    {{#if books}}
                    <button class="btn btn-blue" type="button" data-toggle="collapse" data-target="#collapseBooks"
                        aria-expanded="false" aria-controls="collapseBooks">
                        View All Books
                    </button>
                    {{/if}}
                    {{#if authoredBooks}}
                    <button class="btn btn-blue" type="button" data-toggle="collapse" data-target="#collapseAuthor"
                        aria-expanded="false" aria-controls="collapseAuthor">
                        Your Books
                    </button>
                    {{/if}}
                </div>
            </div> --}}
            {{!-- {{#if books}}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="collapse" id="collapseBooks">
                        <h5>Books You've Contributed To</h5>
                        <div class="row">
                            {{#eachUnique books}}
                            {{#if this.Book.id}}
                            <div class="col-md-3 mb-3 text-white">
                                <div class="card book grow text-white"
                                    style="background-image: url('{{this.Book.imageUrl}}');">
                                    <a href="/book/{{this.Book.id}}">
                                        <div class="card-img-overlay">
                                            <h4>{{this.Book.title}}</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {{/if}}
                            {{/eachUnique}}
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if authoredBooks}}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="collapse" id="collapseAuthor">
                        <h5>Books You've Started</h5>
                        <div class="row">
                            {{#each authoredBooks}}
                            {{#if this.id}}
                            <div class="col-md-3 mb-3 text-white">
                                <div class="card book grow text-white"
                                    style="background-image: url('{{this.imageUrl}}');">
                                    <a href="/book/{{this.id}}">
                                        <div class="card-img-overlay">
                                            <h4>{{this.title}}</h4>
                                        </div>
                                    </a>
                                </div>
                                {{#ifEquals User.id Book.author}}
                                <span data-toggle="tooltip" data-placement="bottom" title="Delete Book"><button
                                        class="delete-btn btn text-blue" data-id="{{this.Book.id}}"><i
                                            class="fas fa-trash-alt"></i></button></span>
                                {{/ifEquals}}
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/if}} --}}
        </div>
    </div>
    {{!-- modal --}}
    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="profilePic">Profile Picture</label>
                        <input class="form-control" type="text" id="profilePic" placeholder="Profile Picture"
                            value="{{user.photo}}">
                    </div>
                    <div class="form-group">
                        <label for="aboutInput">About</label>
                        <input class="form-control" type="text" id="aboutInput" placeholder="About"
                            value="{{user.about}}">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" placeholder="Username"
                            value="{{user.username}}" maxlength="20">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-blue" id="modalSubmit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {{> dashboard-scripts}}