<!-------------------------------------
+++++ Delete Wwhen Done +++++
user.firstname
user.lastname
user.username
user.about
user.photo
user.email
--------------------------------------->
<!-------------------------------------
+++++ Delete Wwhen Done +++++
books
this.Book.id
this.Book.title
this.Book.body
this.Book.genre
this.Book.imageUrl
--------------------------------------->
{{> header}}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <i class="fas fa-cog float-right" data-toggle="modal" data-target="#exampleModal"></i>
                </div>
            </div>
            <div class=" row">
                <div class="col-sm-4">
                    <img src="{{user.photo}}" class="mr-3 w-100" alt="...">
                </div>
                <div class="col-sm-8">
                    <h1>{{user.firstname}} {{user.lastname}}</h1>
                    <h5>{{user.username}}</h5>
                    <h2>Number of Books Written: </h2>
                    <h3>About:</h3>
                    <p>{{user.about}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn" id="allButton">view all books</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <ul class="list-unstyled" id="allBook">
                        {{#eachUnique books}}
                        <li>{{this.Book.id}} - {{this.Book.title}}</li>
                        {{/eachUnique}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Profile Picture</h6>
                <input class="form-control" type="text" id="profilePic" placeholder="Profile Picture"
                    value="{{user.photo}}">
                <h7>About Me</h7>
                <input class="form-control" type="text" id="aboutInput" placeholder="About" value="{{user.about}}">
                <h8>Username</h8>
                <input class="form-control" type="text" id="username" placeholder="Username" value="{{user.username}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

{{> footer}}
{{> dashboard-scripts}}