{{> header}}
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Welcome to Everybooky!</h2>
            <p class="text-center">Write together and share forever.</p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="public/images/desk.jpg"></a>
                <h3 class="name">Ideas</h3>
                <p class="description">Have an idea for a story? You can create a new book with others who share the
                    same ideas!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="public/images/building.jpg"></a>
                <h3 class="name">Collaborate</h3>
                <p class="description">This allows people to write along with you on your new book; line for line. The
                    stories can get pretty crazy!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="public/images/loft.jpg"></a>
                <h3 class="name">Share</h3>
                <p class="description">Once you're finished, share the book with the rest of the world!</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false" type="button"
                style="background-color: rgba(255,255,255,0.4);color: rgb(157,157,157);">Sort By</button>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" role="presentation" href="#compBooks" aria-controls="completeBooks" aria-selected="true">Popular</a>
                <a class="dropdown-item" role="presentation" href="#progBooks" aria-controls="progBooks" aria-selected="false">In Progress</a>
                <a class="dropdown-item" role="presentation" href="#">Genre</a>
            </div>
        </div>

        <div class="row" id="compBooks">
            <div class="tab-content">
                <div class="tab-pane" id="compBooks">
                    {{#each booksObj}}
                    <!-- Displays all completed books-->
                    {{#if completed}}
                    <div class="col-md-3 mb-3" id="{{this.id}}">
                        <div class="card book">
                            <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                            <div class="card-img-overlay">
                                <h4>{{this.title}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="tab-pane" id="progBooks">
                    {{#each booksObj}}
                    <!-- Displays all books in progress-->
                    {{#unless completed}}
                    <div class="col-md-3 mb-3" id="{{this.id}}">
                        <div class="card book">
                            <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                            <div class="card-img-overlay">
                                <h4>{{this.title}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>
{{> footer}}

{{> login-modal}}
