{{> header}}
<div class="article-list">
    <div class="jumbotron" id="homeBanner">
        <div class="intro my-5">
            <h1 class="text-center text-light logo main-heading">Everybooky</h1>
            <p class="text-center text-light">Write together and share forever.</p>
            <div class="d-flex justify-content-center">
                <i class="fas fa-chevron-circle-down text-light" data-toggle="collapse" data-target="#about"
                    aria-expanded="false" aria-controls="about"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="collapse" id="about">
            <div class="row articles text-center">
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="public/images/desk.jpg">
                    <h3 class="name">Ideas</h3>
                    <p class="description">Have an idea for a story? Create a new book with others who share the
                        same ideas!</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <a href="#"><img class="img-fluid" src="public/images/building.jpg"></a>
                    <h3 class="name">Collaborate</h3>
                    <p class="description">You'll be able to write the story line by line with other users!</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <a href="#"><img class="img-fluid" src="public/images/loft.jpg"></a>
                    <h3 class="name">Share</h3>
                    <p class="description">Once you're finished, share the book with the rest of the world!</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="btn-group" role="group">
            <div class="btn btn-transparent disabled">Sort By</div>
            <div class="btn-group" role="group">
                <button class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    type="button" style="background-color: rgba(255,255,255,0.4);color: rgb(157,157,157);">Sort
                    By</button>
                <div class="dropdown-menu" role="menu" id="sortBtn">
                    <a class="dropdown-item active" id="new-tab" data-toggle="tab" href="#new" role="tab"
                        aria-controls="new">New</a>
                    <a class="dropdown-item" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                        aria-controls="popular">Popular</a>
                    <a class="dropdown-item" id="progress-tab" data-toggle="tab" href="#progress" role="tab"
                        aria-controls="progress">In Progress</a>
                    <a class="dropdown-item" id="genre-tab" data-toggle="tab" href="#genre" role="tab"
                        aria-controls="genre">Genre</a> <!-- should toggle another button to choose genre-->
                </div>
            </div>
        </div>



        <hr>

        <div class="tab-content" id="myTabContent">
            <!-- Displays all new books-->
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="row">
                    <h1>New Books</h1>
                    {{#each booksObj}}
                    {{#if completed}}
                    <div class="col-md-3 mb-3" id="{{this.id}}">
                        <div class="card book">
                            <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                            <div class="card-img-overlay">
                                <h4>{{this.title}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <!-- Displays all popular books -->
            <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                <h1>Popular Books</h1>
                {{#each booksObj}}
                {{#if completed}}
                <div class="col-md-3 mb-3" id="{{this.id}}">
                    <div class="card book">
                        <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                        <div class="card-img-overlay">
                            <h4>{{this.title}}</h4>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <!-- Displays all books in progress-->
            <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">
                <h1>Progress Books</h1>
                {{#each booksObj}}
                <!-- Displays all books in progress-->
                {{#unless completed}}
                <div class="col-md-3 mb-3" id="{{this.id}}">
                    <div class="card book">
                        <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                        <div class="card-img-overlay">
                            <h4>{{this.title}}</h4>
                        </div>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <!-- Displays books by genre -->
            <div class="tab-pane fade" id="genre" role="tabpanel" aria-labelledby="genre-tab">...</div>
        </div>

        <div class="row" id="books">
            <div class="tab-content">
                <div class="tab-pane" id="compBooks">
                    <h1>Completed Books</h1>
                    {{#each booksObj}}
                    <!-- Displays all completed books-->
                    {{#if completed}}
                    <div class="col-md-3 mb-3" id="{{this.id}}">
                        <div class="card book">
                            <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                            <div class="card-img-overlay">
                                <h4>{{this.title}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="tab-pane" id="progBooks">
                    <h1>Progress Books</h1>
                    {{#each booksObj}}
                    <!-- Displays all books in progress-->
                    {{#unless completed}}
                    <div class="col-md-3 mb-3" id="{{this.id}}">
                        <div class="card book">
                            <img src="{{this.imgUrl}}" alt="{{this.imgUrl}}" class="card-img w-100 d-block">
                            <div class="card-img-overlay">
                                <h4>{{this.title}}</h4>
                            </div>
                        </div>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
                <!-- Missing genres tab pane -->
            </div>
        </div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="formModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Create New Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" placeholder="Enter Book Title" id="title" name="title">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="genre">Genre</label>
                                <select class="form-control" id="genre" name="genre">
                                    <option value="adventure">Adventure</option>
                                    <option value="mystery">Mystery</option>
                                    <option value="thriller">Thriller</option>
                                    <option value="sci-fi">Sci-fi</option>
                                    <option value="romance">Romance</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="crime">Crime</option>
                                    <option value="short-story">Short Story</option>
                                    <option value="satire">Satire</option>
                                    <option value="erotica">Erotica</option>
                                    <option value="fairytale">Fairytale</option>
                                    <option value="children">Children</option>
                                    <option value="young-adult">Young Adult</option>
                                    <option value="other">Other...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="limit">Word Limit</label>
                                <select class="form-control" id="limit" name="limit">
                                    <option value="500">500 (Default)</option>
                                    <option value="750">750</option>
                                    <option value="1000">1000</option>
                                    <option value="1500">1500</option>
                                    <option value="other">Other...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select class="form-control" id="type">
                                    <option value="casual">Casual</option>
                                    <option value="serious">Serious</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="maxCol">Max Collaborators</label>
                                <select class="form-control" id="maxCol">
                                    <option value="none">No Limit</option>
                                    <option value="2">2</option>
                                    <option value="2">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="more">More</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="about">About</label>
                    <textarea class="form-control" id="body" rows="3" name="body"></textarea>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="private">
                        <label class="form-check-label" for="private">
                            Private Book
                        </label>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group d-flex justify-content-center">
                    <button type="button" class="btn btn-info" id="createBook">Create Book</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}

{{> login-modal}}